.blog_wrapper{
    width: 45rem;
    height: minmax(10rem,min-content);
    background-color: white;
    display: flex;
}
.blog_img{
    flex: 1;
}
.blog_img_size{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    align-self: flex-start;
}


.blog_content{
    flex: 3;
    justify-content: flex-start;
    align-items: flex-start;
}
.details{
    width: 100%;
}
.util{
    flex: 1;
}

.readmoreBtn{
    padding: 0.5rem 1rem;
    background-color: transparent;
}